if SHIELD_CYGNUS46_LEFT

config ZMK_KEYBOARD_NAME
    default "Cygnus46"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CYGNUS46_LEFT || SHIELD_CYGNUS46_RIGHT

config ZMK_SPLIT
    default y

endif